head {
    text-align: center;
}

h1 {
    color: rgb(224, 224, 195);
    background-color: rgb(24, 20, 20);
    font-size: 2.5em;
    margin: 0;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: rgb(80, 80, 80);
}
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: rgb(224, 224, 195);
    background-color: rgb(53, 53, 53);
    margin: 20px;
    padding: 0;
}
h2 {
    color: rgb(224, 224, 195);
    background-color: rgb(24, 20, 20);
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}
* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 40%;
    padding: 5px;
  }
  p {
      line-height: 15px;
      
  }
